.container
{
  position: relative;
  width:50%;
  margin-bottom: 30px !important;
}

.row
{
  margin: 4%;
  margin-top: 30px !important;
}

.container1
{
  position: relative;
  width: 100%;
  text-align: center;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px !important;
  right: 15px !important;
  opacity: 0;
  transition: .5s ease;
  background-color: #213159;
}

.container:hover .overlay {
  opacity: 0.85;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.pic-btn
{
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid white;
	color: white;
	background-color: transparent;
	border-radius: 5px;
}

.btn1
{
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid black;
	color: black;
	background-color: transparent;
	border-radius: 5px;
}

.pic-btn:hover
{
  background-color: white !important;
  color: black;
}

.pic-btn-low
{
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid white;
	color: white;
	background-color: transparent;
	border-radius: 5px;
}

.navbar-custom
{
    background-color: white !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #e6b800;
    letter-spacing: .06em;
    padding-left:30px;
    padding-right:30px;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.nav-link
{
    color: #213159 !important;
    font-weight: 500;
}

.display-3
{
    color: white;
    font-weight: 700;
    font-size: 75px;
}

.jumbotron-custom
{
    background-image:
    linear-gradient(
      rgba(61, 96, 152, 0.8),
      rgba(33, 49, 89, 0.8)
    ),url(camera.jpg);
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 400px;
    text-align: center;
    padding: 150px;
    margin: 0;
}

.jumbotron-custom1
{
    background: white;
    font-family: 'Roboto', sans-serif;
    color: #213159;
    height: 100px;
    text-align: center;
    padding: 40px;
    margin: 0;
}

.jumbotron-custom2
{
    background: transparent;
    color: #213159;
    height: 100px;
    padding: 40px;
    margin: 0;
}

.lead
{
  font-size: 15px !important;
  font-weight: 500;
}

.lead1
{
    font-size: 30px;
    font-weight: 700;
}


body
{
  background-color: white;
}

.navbar-right
{
  float: right !important;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.card
{
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  height: 300px;
  margin-top: 5% !important;
  text-align: center;
}

main
{
  padding-top: 50px;
}

.row row-1
{
    margin: 4%;
    text-align: center;
}

.column img
{
    display: inline-block;
    width: 300px;
    height: auto;
    background: #ccc;
    margin: 5px;
}

.btn-settings
{
  top: 90%;
  left: 50%;
  text-align: center;
  background-color: transparent;
  color: #213159;
  border: 1px solid #213159;
}

.btn-settings:hover
{
  background-color: #447DD8;
  color: white;
}

.card1
{
  float: none;
  margin-top: 5% !important;
  text-align: center;
  height: 340px;
}

#main
{
    height: 50vh;
}

.btn-follow
{
  position: absolute;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 1px solid green;
  color: black;
  text-align: center;
  width: 100px;
  top: 80% !important;
}

.btn-follow:hover
{
  background-color: green;
  border: 1px solid white;
  color: white;
}

.btn-login
{
  position: absolute;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 1px solid blue;
  color: black;
  text-align: center;
  width: 100px;
  top: 80% !important;
}

.btn-login:hover
{
  background-color: blue;
  border: 1px solid white;
  color: white;
}

.navbar-btn
{
  position: absolute;
  text-align: center;
  background-color: transparent;
  color: #213159;
  border: 1px solid #213159;
  left: 87%;
}

.navbar-btn:hover
{
  background-color: #447DD8;
  color: white;
}

.card-upload
{
  height: 450px;
}

.btn-upload
{
  position: absolute;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 1px solid green;
  color: black;
  text-align: center;
  width: 100px;
  top: 80% !important;
}

.form
{
  text-align: left !important;
}

.card-register
{
  height: 400px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  margin-top: 5% !important;
  text-align: center;
}

.fas
{
  padding-right: 10px;
}

.custom-select
{
  width: 7rem;
}

.table
{
  position: relative;
  margin: 0 auto;
  width: 700px;
  text-align: center;
  float: none;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

.thead
{
  background-color: #213159 !important;
  color: white;
}

.profile-pic
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
