.container
{
  position: relative;
  width:50%;
}

.row
{
  margin: 5%;
}

.container1
{
  position: relative;
  width: 100%;
  text-align: center;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px !important;
  right: 15px !important;
  opacity: 0;
  transition: .5s ease;
  background-color: #213159;
}

.container:hover .overlay {
  opacity: 0.85;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn
{
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid white;
	color: white;
	background-color: transparent;
	border-radius: 5px;
}

.btn1
{
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid black;
	color: black;
	background-color: transparent;
	border-radius: 5px;
}

.btn:hover
{
  background-color: white !important;
  color: black;
}

.navbar-custom
{
    background-color: #ffffff !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #e6b800;
    letter-spacing: .06em;
    padding-left:30px;
    padding-right:30px;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.nav-link
{
    color: #213159 !important;
    font-weight: 500;
}

.display-3
{
    color: white;
    font-weight: 700;
}

.jumbotron-custom
{
    background-image:
    linear-gradient(
      rgba(61, 96, 152, 0.9),
      rgba(33, 49, 89, 0.9)
    ),url(camera.jpg);
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 400px;
    text-align: center;
    padding: 150px;
    margin: 0;
}

body
{
  background-color: #e7e7e7;
}

.navbar-right
{
  float: right;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.card
{
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  height: 300px;
}

main
{
  padding-top: 50px;
}