{% extends "layout.html" %}

{% block title %} Ranking {% endblock %}

{% block main %}

<div class="jumbotron jumbotron-fluid jumbotron-custom2">
    <div class="container1">
        <p class="lead1">Following</p>
    </div>
</div>

<table class="table table-striped">
    <thead class="thead">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Profile</th>
        </tr>
    </thead>
    <tbody>
            {% for f in following %}
        <tr>
        <td>
            Username
        </td>

        <td></form><form action="{{ url_for('user_profile')}}" method= "POST"><input type="hidden" id="test"
                                        name="follow" value="{{f}}"><button class = "btn btn-success btn-settings">Profile</button></form></td>
        </tr>
            {% endfor %}
    </tbody>
</table>


{% endblock %}
