<input id = "searchtext" type = "text" placeholder = "Search GIF">
<button id = "searchgifs" type = "submit" >PRESS</button>
/HTML


/JAVA
Dit moet in een aparte javascript file

$(document).ready(function(){
    document.getElementById("searchgifs").addEventListener("click", getData);
});

function getData(){
    var input = document.getElementById("searchtext").value;


    var xhr = $.get("https://api.giphy.com/v1/gifs/search?q="+input+"&api_key=bJIEppj9qn0rqQZuSQKrgu0gC6iuqyhO&limit=5");
    xhr.done(function(response)
        { console.log("success got data", response);

        var bla = response.data

        for (i in bla)
        {
            $('.inner').append("<img src= '"+bla[i].images.original.url+"' style='height: 350px; width: 350px;'/>")

            }
                    });
}

/MOET IN LAYOUT.HTML

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>


