{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block main %}

{% if session.user_id %}

<div class="jumbotron jumbotron-fluid jumbotron-custom">
    <div class="container1">
        <h1 class="display-3">Welcome back, {{firstname}}!</h1>
    </div>
</div>

{% else %}

<div class="jumbotron jumbotron-fluid jumbotron-custom">
    <div class="container1">
        <h1 class="display-3">Welcome on Helios!</h1>
        <a href="{{ url_for('register') }}" class="btn btn-primary">Register now!</a>
    </div>
</div>

{% endif %}

{% if session.user_id %}

<div class="jumbotron jumbotron-fluid jumbotron-custom2">
    <div class="container1">
        <p class="lead1">Today's featured categories are #{{cats[0]}} and #{{cats[1]}}.</p>
    </div>
</div>

<div class="row">
<div class="container">
    <img src="static/{{cats[2]}}" alt="{{cats[0]}}" class="image">
    <div class="overlay">
      <div class="text">#{{cats[0]}}</div>
      <a href="{{ url_for('cats') }}" class="btn btn-light pic-btn">Go!</a>
    </div>
  </div>

  <div class="container">
    <img src= "static/{{cats[3]}}" alt= {{cats[1]}} class="image" id="image">
    <div class="overlay">
      <div class="text">#{{cats[1]}}</div>
      <a href="{{ url_for('cats') }}" class="btn btn-light pic-btn">Go!</a>
    </div>
  </div>
</div>

{% else %}

<div class="jumbotron jumbotron-fluid jumbotron-custom2">
    <div class="container1">
        <p class="lead1">Why should you use Helios?</p>
        <p class="lead">Helios is not just a photo-sharing website. On Helios it's all about the photo. The photographer comes in second place.
        This ensures that relatively unkown photographers can achieve more exposure.
        Our well-thought concept will prevent a snowball-effect from happening.</p>
    </div>
</div>


<div class="jumbotron jumbotron-fluid jumbotron-custom2">
    <div class="container1">
        <p class="lead1">How does Helios work?</p>
        <p class="lead">Every user is able to upload 1 picture in each category. You should only upload your best picture as the previous one
                        will be overwritten when you upload a new one. When a user clicks on one of the categories, the user will see two pictures
                        each time. The user has to decide which picture he likes the most. The photographer of the chosen picture will receive 1
                        point. The more points a user has, the higher his position in the ranking.</p>
    </div>
</div>


{% endif %}

{% endblock %}
