{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block main %}

{% if session.user_id %}

<div class="jumbotron jumbotron-fluid jumbotron-custom">
    <div class="container1">
        <h1 class="display-3">Welcome on Helios, {{name}}!</h1>
    </div>
</div>

{% else %}

<div class="jumbotron jumbotron-fluid jumbotron-custom">
    <div class="container1">
        <h1 class="display-3">Welcome on Helios!</h1>
    </div>
</div>

{% endif %}

<div class="jumbotron jumbotron-fluid jumbotron-custom1">
    <div class="container1">
        <p class="lead">Helios is not just a photo-sharing website. On Helios it's all about the photo. The photographer comes in second place.
        This ensures that relatively unkown photographers can achieve more exposure.</p>
    </div>
</div>

<div class="row">
  <div class="container">
    <img src="static/{{cats[2]}}" alt="{{cats[0]}}" class="image">
    <div class="overlay">
      <div class="text">#{{cats[0]}}</div>
      <a href="{{ url_for('grinder_hotel') }}" class="btn btn-light pic-btn">Go!</a>
    </div>
  </div>

  <div class="container">
    <img src= "static/{{cats[3]}}" alt= {{cats[1]}} class="image" id="image">
    <div class="overlay">
      <div class="text">#{{cats[1]}}</div>
      <a href="{{ url_for('grinder_hotel') }}" class="btn btn-light pic-btn">Go!</a>
    </div>
  </div>
</div>

{% endblock %}
