{% extends "layout1.html" %}

{% block main %}

<div class="jumbotron jumbotron-fluid jumbotron-custom">
    <div class="container">
        <h1 class="display-3">Welcome!</h1>
        <p class="lead">Hover over the pictures below to check todays categories.</p>
    </div>
</div>

<div class="container">
  <img src="{{ url_for('static', filename='audi.jpg') }}" alt="audi" class="image">
  <div class="overlay">
    <div class="text">#Cars</div>
    <button class="btn btn-light navbar-btn">Upload</button>
    <a href="{{ url_for('upload') }}" class="btn btn-light navbar-btn">Upload</a>
  </div>
</div>

{% endblock %}