<!doctype html>

<head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="static/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
    <a class="navbar-brand" href="#">
        <img src="helios.png" width="40" height="40" class="d-inline-block align-top" alt="">

    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        <li class="nav-item">
            <a class="nav-link" href="top10.html">Top 10</a>
        </li>
        </ul>
    </div>

    <div class="navbar-right">
        <ul class="navbar-nav">
            <li class="nav-item">
            <button class="btn btn-danger navbar-btn">Upload</button>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login.html">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register.html">Register</a>
            </li>
        </ul>
    </div>
</nav>

<main>
        {% block main %} {% endblock %}
</main>
</body>