{% extends "layout.html" %}

{% block title %} Profile {% endblock %}

{% block main %}

<div class="card" style="width: 35rem;">
<h5 class="card-header">{{username}}</h5>
  <div class="card-body">
    <img src="{{profilepicture}}" class="profile-pic">
    <p><h5 class="card-title">Hi there, I'm {{firstname}} {{surname}}</h5></p>
    <p><h6 class="card-subtitle mb-2 text-muted">{{userbio}}</h6></p>
  </div>
</div>

<div class="row row-1">
  <div class="column">

    {% for image in pictures %}

    <div class="card" style="width: 19rem;">
      <img src="{{ image.cars }}" class="card-img-top" alt="Cars">
      <div class="card-body">
        <a href="{{ image.cars }}" class="btn btn-primary">Full size</a>
      </div>
    </div>

    <div class="card" style="width: 19rem;">
      <img src="{{ image.hotels }}" class="card-img-top" alt="Hotels">
      <div class="card-body">
        <a href="{{ image.hotels }}" class="btn btn-primary">Full size</a>
      </div>
    </div>

    <div class="card" style="width: 19rem;">
      <img src="{{ image.yachts }}" class="card-img-top" alt="Yachts">
      <div class="card-body">
        <a href="{{ image.yachts }}" class="btn btn-primary">Full size</a>
      </div>
    </div>

    <div class="card" style="width: 19rem;">
      <img src="{{ image.watches }}" class="card-img-top" alt="Watches">
      <div class="card-body">
        <a href="{{ image.watches }}" class="btn btn-primary">Full size</a>
      </div>
    </div>

    {% endfor %}

    </div>
</div>

{% endblock %}
