{% extends "layout.html" %}

{% block title %} Settings {% endblock %}

{% block main %}

<div class="card card1" style="width: 35rem;">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#password"><span class="fas fa-key"></span>Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#name"><span class="fas fa-user-tag"></span>Username</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#bio"><span class="fas fa-signature"></span>Biography</a>
            </li>
        </ul>
    </div>

    <div class="tab-content card-body">
        <div id="password" class="tab-pane active">

            <form action="{{ url_for('settings') }}" method="POST">
                <div class="form-group">
                    <label for="old_password"> Old password</label>
                    <input class="form-control" name="old_password" placeholder="Old password" type="password">
                </div>

                <div class="form-group">
                    <label for="new_password"> New password</label>
                    <input class="form-control" name="new_password" placeholder="New password" type="password">
                </div>

                <button type="submit" class="btn btn-primary btn-settings">Change</button>

            </form>

        </div>

        <div id="name" class="tab-pane">

            <form action="{{ url_for('settings') }}" method="POST">

                <div class="form-group">
                    <label for="new_username"> New username</label>
                    <input class="form-control" name="new_username" placeholder="New username" type="text">
                </div>


                <button type="submit" class="btn btn-primary btn-settings">Change</button>

            </form>

        </div>

        <div id="bio" class="tab-pane">

            <form action="{{ url_for('settings') }}" method="POST">
                <div class="form-group">
                    <label for="new_bio"> New biography</label>
                    <textarea class="form-control" name="new_bio" placeholder="New biography" rows="5"></textarea>
                </div>


                <button type="submit" class="btn btn-primary btn-settings">Change</button>

            </form>

        </div>

    </div>

</div>

{% endblock %}
