{% extends "layout.html" %}

{% block title %} Ranking {% endblock %}

{% block main %}

<div class="jumbotron jumbotron-fluid jumbotron-custom2">
    <div class="container1">
        <p class="lead1">Ranking</p>
    </div>
</div>

<div class="row row-1">

    <div class="card" style="width: 19rem;">
      <h5 class="card-header card-first">First place</h5>
      <img src="{{ url_for('static', filename = 'Hotels.jpg')}}" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Description</p>
        <a href="" class="btn btn-primary">View profile</a>
      </div>
    </div>

</div>

<table class="table table-striped">
    <thead class="thead">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Points</th>
        </tr>
    </thead>
        <tbody>
            {% for key, value in data.items() %}
           <tr>
                <th> {{ key }} </th>
                <td> {{ value }} </td>
           </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
