{% extends "layout.html" %}

{% block title %} Ranking {% endblock %}

{% block main %}

<div class="jumbotron jumbotron-fluid jumbotron-custom2">
    <div class="container1">
        <p class="lead1">Most liked picture</p>
        <p class="lead">This picture was made by {{firstname}} {{surname}} and got {{likes}} likes!</p>
        <form action="{{ url_for('user_profile')}}" method= "POST">
            <input type="hidden" id="test" name="follow" value="{{ user_id }}">
            <button class="btn btn-success btn-settings">View profile</button>
        </form>
    </div>
</div>

<div class="row justify-content-center row-1">
  <div class="column1">
      <a target="_blank" href="{{picurl}}"><img src="{{picurl}}"></a>
    </div>
</div>

<div class="jumbotron jumbotron-fluid jumbotron-custom2">
    <div class="container1">
        <p class="lead1">Ranking</p>
    </div>
</div>

<table class="table table-striped">
    <thead class="thead">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Points</th>
        </tr>
    </thead>
        <tbody>
            {% for key, value in data.items() %}
           <tr>
                <th> {{ key }} </th>
                <td> {{ value }} </td>
           </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
