{% extends "layout.html" %}

{% block title %} Upload {% endblock %}

{% block main %}

<div class="card card-upload" style="width: 35rem;">
<h5 class="card-header">Upload</h5>
  <div class="card-body">
    <form id= "upload-form" action= "{{  url_for('upload')  }}" method= "POST" enctype= "multipart/form-data">
        <fieldset>
            <h6>Select a file</h6>
             <div class="custom-file">
               <input type="file" class="custom-file-input" id="customFile" name= "file" accept="image/*" multiple>
                 <label class="custom-file-label" for="customFile">Choose file</label>
            </div>

            <p><h6>Choose a category</h6></p>
            <div class="form-group form1">
                <select class="custom-select mr-sm-2" name="select" method="POST">
                      <option value="Cars">Cars</option>
                      <option value="Yachts">Yachts</option>
                      <option value="Watches">Watches</option>
                      <option value="Hotels">Hotels</option>
                </select>
            </div>

                <button class="btn btn-light btn-settings" type="submit">Upload</button>

        </fieldset>
    </form>

  </div>

</div>

{% endblock %}
