{% extends "layout.html" %}

{% block title %} Edit profile {% endblock %}

{% block main %}

<div class="jumbotron jumbotron-fluid jumbotron-custom2">
    <div class="container1">
        <p class="lead1">Thanks for registering, {{name}}</p>
    </div>
</div>

<div class="card card-userbio" style="width: 35rem;">
  <div class="card-body">

        <h6 class="card-subtitle mb-2 text-muted">Please note that nothing is required</h6>
        <form id= "upload-form" action= "{{  url_for('userbio')  }}" method= "POST" enctype= "multipart/form-data">
            <fieldset>

            <p><h6>Tell us something about yourself</h6></p>
            <div class="form-group">
                <input type="text" class="form-control" name="Text1" placeholder="Description">
            </div>

            <p><h6>Choose a local picture</h6></p>
            <div class="searchgif">
            <div class="custom-file">
               <input type="file" class="custom-file-input" name="GIPHY" name= "file" accept="image/*" multiple>
                 <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            </div>

                <button class="btn btn-light btn-settings" type="submit">Create!</button>
         </fieldset>
    </form>

    <p><h6>Or search a Giphy in our database</h6></p>
    <p><h6 class="card-subtitle mb-2 text-muted">You have to save and upload the gif in the form above</h6></p>

    <div class ="searchgif">
        <div class="form-group">
            <input type = "text" class="form-control" id = "searchtext" placeholder = "Example: Shrek">
        </div>

            <button class="btn btn-light btn-settings" id="searchgifs" type="submit">Search!</button>
    </div>
    <div class=inner></div>

    </div>
</div>




{% endblock %}